# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# macOS system files
.DS_Store
.env
chroma.sqlite3
/LangGraph Agent/Build a Customer Support Bot/travel2.sqlite
/LangGraph Agent/8a6f1e63-e2d8-4132-adaa-ca8e6e69974a